<%= page_title 'Sign up' %>

<div class='login-container'>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-4 col-sm-offset-4'>
        <p id="pitch">Ringo makes it simple to clip quotes from web pages and add them to your writing.</p>
        <br />

        <%= render partial: 'shared/flash_messages' %>

        <%= form_for(@user, url: users_path, html: {novalidate: 'novalidate', class: 'form validate-form'}) do |f| %>

            <% email_errors = @user.errors.messages[:email] %>
            <div class="form-group <%= 'has-error' if email_errors.present? %>">
              <div class="controls with-icon-over-input">
                <%= f.text_field :email, 'data-rule-required' => true, 'data-rule-email' => true, 'class' => 'form-control', 'Placeholder' => 'E-mail', 'type' => 'email' %>
                <i class='icon-user text-muted'></i>
              </div>
              <% email_errors and email_errors.each do |error_msg| %>
                <span class="help-block has-error"><%= error_msg %></span>
              <% end %>
            </div>

            <% password_errors = @user.errors.messages[:password] %>
            <div class="form-group <%= 'has-error' if password_errors.present? %>">
              <div class="controls with-icon-over-input">
                <%= f.password_field :password, 'data-rule-required' => true, 'data-rule-minlength' => '6', 'class' => 'form-control', 'Placeholder' => 'Password' %>
                <i class='icon-lock text-muted'></i>
              </div>
              <% password_errors and password_errors.each do |error_msg| %>
                <span class="help-block has-error"><%= error_msg %></span>
              <% end %>
            </div>

            <%= f.submit "Sign up", class: 'btn btn-block' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class='login-container-footer'>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-12'>
        <div class='text-center'>
          <a href='<%= sign_in_path %>'>
            <i class='icon-user'></i>
            Sign in
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
