<%= page_header_title 'Quotes' %>
<div class="row">
  <div class="col-sm-12">
    <table class="table">
      <thead>
        <tr>
          <th>
            Content
          </th>
          <th>
            Saved
          </th>
          <th id="actions-header"></th>
        </tr>
      </thead>
      <tbody>
        <% @selections.each do |selection| %>
          <tr>
            <td>
              <p><q id="selection-<%= selection.id %>" class="selection-content"><%= selection.content %></q></p>
              <%= link_to selection.web_page.uri, selection.web_page.uri, class: 'selection-uri' %></td>
            </td>
            <td><%= selection.created_at.in_time_zone.strftime('%_m/%d/%y') %></time></td>

            <td>
              <div class="text-right">
                <button class="btn btn-xs copy-to-clipboard" data-clipboard-target='selection-<%= selection.id %>' title='Copy highlight to clipboard.'>
                  <i class="icon-copy"></i> Copy
                </button>

                <%= link_to selection, method: :delete, remote: true, data: { confirm: 'Delete this highlight?' }, class: 'btn btn-danger btn-xs' do %>
                  <i class="icon-remove"></i>
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
</div>

<% content_for :scripts do %>
<script>
  $(document).ready(function() {
    new ZeroClipboard($('.copy-to-clipboard'));
  });
</script>
<% end %>
