<%= content_for :page_header_title do %>
  Quotes
  <button id="copy-all" class="btn" title='Copy all quotes to clipboard.'>
    <i class="icon-copy"></i> Copy all quotes to clipboard
  </button>
<% end %>

<div class="row">
  <div class="col-sm-12">
    <table class="table">
      <thead>
        <tr>
          <th>
            Content
          </th>
          <th>
            Saved
          </th>
          <th id="actions-header"></th>
        </tr>
      </thead>
      <tbody id="quotes">
        <% @selections.each do |selection| %>
          <tr>
            <td>
              <p id="selection-<%= selection.id %>" class="selection-content">&ldquo;<%= selection.content %>&rdquo;</p>
              <%= link_to selection.web_page.uri, selection.web_page.uri, class: 'selection-uri', target: '_blank' %></td>
            </td>
            <td class='selection-saved-at'>
              <%= selection.created_at.in_time_zone.strftime('%_m/%d/%y') %>
              <br />
              <%= selection.created_at.in_time_zone.strftime('%l:%M%P') %>
            </td>

            <td>
              <div class="text-right">
                <button class="btn btn-xs copy-to-clipboard" data-clipboard-target='selection-<%= selection.id %>' title='Copy quote to clipboard.'>
                  <i class="icon-copy"></i> Copy
                </button>

                <%= link_to selection, method: :delete, remote: true, data: { confirm: 'Delete this quote?' }, class: 'btn btn-danger btn-xs' do %>
                  <i class="icon-remove"></i>
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
</div>

<% content_for :scripts do %>
<script>
  $(document).ready(function() {
    new ZeroClipboard($('.copy-to-clipboard'));

    var $copyAll = $('#copy-all'),
        allQuotes = '';
    $('#quotes tr').each(function(i, el) {
      var $el = $(el),
          quote = $el.find('.selection-content').text(),
          uri = $el.find('.selection-uri').text(),
          savedAt = $el.find('.selection-saved-at').text(),
          CR = String.fromCharCode(13),
          allTogether = quote + CR + uri + CR + savedAt + CR + CR;

      allQuotes = allQuotes + allTogether;
    });

    $copyAll.attr('data-clipboard-text', allQuotes);
    new ZeroClipboard($copyAll);
  });
</script>
<% end %>
